.container
  .back_btn
    = image_tag user.avatar_image
  .profile_name
    %h2= current_user.account_name
  .profile_avatar
    = image_tag 'test_avatar.png'
  .profile_info
    %p Posts
    %p Followers
    %p Following