.container
  .back_btn
    = image_tag 'backbtn.png'
  .profile_name
    %h2= current_user.account_name
  .profile_avatar
    = image_tag current_user.avatar_image
  .profile_info
    %p Posts
    %p Followers
    %p Following