.btn {
  background-color: #FFE600;
  border: none;
  width: 100%;
  text-align: center;
  color: black;
  padding: 16px 24px;
  font-weight: bold;
}

.btn-second {
  background-color: #FFE600;
  border: solid 1px ;
  width: 100%;
  text-align: center;
  color: black;
  padding: 16px 0;
  font-weight: bold;
}