.back_btn {
    display: flex;
    float: left;

    img {
        height: 12px;
        width:  17px;
    }
}

.profile_name {
    text-align: center;
    margin-bottom: 40px;
}

.profile_avatar {
    img {
        height: 77px;
        width: 77px;
    }
    text-align: center;
    margin-bottom: 40px;
}

.profile_info {
    display: flex;
    justify-content: space-around;
}